.container{
    height:100vh;
    width:100%;
    background-color:white;
    
}

.main{
    background-color:white;
    display:flex;
    flex-direction:column;
    height:100vh;
    width: 100%;
    justify-content:space-between;
   
}
.content{
    
    height:30vh;
    width: 100%;
    background-color: skyblue;
}
.con0{
    text-align: center;
    

}
.secondary{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 10vh;
    
}
.con1{
    background-color:skyblue;
    width:45%;
    
}
.third{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    width: 100%;
    height: 10vh;
}

.con2{
    background-color:skyblue;
    width:30%;
    

}
.fourth{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    width: 100%;
    height: 10vh;
}
.con3{
    background-color:skyblue;
    width:22%;
}
p{
    text-align: center;
}