body{
    background-color :blueviolet;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
button{
    background-color:rgb(255, 0, 13);
    width:100%;
    color:palevioletred;
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor:pointer;
}
form{
    border: 2px solid #f1f1f1;
}
input[type="text"],input[type="password"]{
    width: 100%;
    margin: 10px;
    padding: 12px 20px;
    box-sizing: border-box;
    display: inline-block;
    border: 2px solid green;
}
button:hover{
    opacity:0.5;
}
.container{
    padding: 25px;
    background-color:yellowgreen;
}
