.main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:100vh;
    width: 100%;
}
.container{
    background-color:skyblue;
    width:50%;
    height:100vh;
    margin-left: 0%;
}
.cont{
    background-color: white;
    width:50%;
    height:100vh;
    margin-left: 0%;
}
.main1{
    display: flex;
    flex-direction: row-reverse;
     
}
.log{
    height: 30px;
    width: 60px;
    background-color:blue;
    margin-left: 10px;
}

h1{
    text-align: center;
    font-weight: bold;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.name {
    width:400px;
    height:30px;
    padding-bottom: 5px;
    margin-bottom: 20px;

}
.mail {
    width:400px;
    height:30px;
    padding-bottom: 5px;
    margin-bottom: 20px;

}
.password {
    width:400px;
    height:30px;
    padding-bottom: 5px;
    margin-bottom: 20px;

}
.bt {
    width:400px;
    height:40px;
    margin-bottom: 10px;
    background-color:blue;
    cursor: pointer;
    box-shadow: 5px 6px 5px grey ;
    border-radius: 5px;
    color:white;
    border: none;
    

}