body{

}
.first{
    background-color: whitesmoke;
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    padding-top: 20px;
}
.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width:100%;
}
.about{
    height: 40px;
    width: 50px;
}
.search{
    height: 30px;
    width: 600px;
}
.textbt{
    height: 40px;
    width: 80px;
    justify-content: space-evenly;
    border: none;
    cursor: pointer;
}
.second{
    background-color:bisque;
    height: 100vh;
    width:15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.third{
    background-color: rgb(190, 184, 184);
    height: 100vh;
    width:85%;
    margin: 10px 10px 10px;
}
.dashboard{
    height:30vh;
    width:100%;
}
.con1{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    text-align: center;
    
}
.sales{
    background-color:palevioletred;
    height: 20vh;
    width:20%;
    padding-top: 30px;
}
.weekly{
    background-color: blue;
    height: 20vh;
    width:20%;
    padding-top: 30px;
}
.online{
    background-color:greenyellow;
    height: 20vh;
    width:20%;
    padding-top: 30px;
}
.con2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.stat{
    background-color: palegreen;
    height: 40vh;
    width:40%;
    padding-top: 30px;
}
.diagram{
    background-color: palegreen;
    height: 30vh;
    width:30%;
    padding-top: 30px;
}
.recent{
    height: 60vh;
    width:100%;
    background-color: rgb(255, 255, 255);
    
}
.table1{
    height: 60px;
    width: 100%;
    text-align: center;
}